<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록</title>
</head>
<body>
    <a href="/adm/admprd">상품등록</a>
    <a href="/adm/local">매장등록</a>
    <% for(let i=0; i< prdData.length; i++){ %>
    <div class="list" style="border:1px solid #000; margin-bottom:20px">
        <div>
            <div>상품번호</div>
            <div><%- prdData[i].prdid %></div>
        </div>
        <div>
            <div>상품명</div>
            <div><%- prdData[i].prdname %></div>
        </div>
        <div>
            <div>등록이미지</div>
            <div><img width="200px" src="/upload/<%- prdData[i].prdfile %>"></div>
        </div>
        <div>
            <div>분류</div>
            <div><%- prdData[i].prdcategory %></div>
        </div>
    </div>
    <% } %>

    <form action="/addprd" method="post" enctype="multipart/form-data">
        <select name="category">
            <option value="커피">커피</option>
            <option value="쿠키">쿠키</option>
            <option value="디저트">디저트</option>
            <option value="음료">음료</option>
        </select>
        <input type="text" name="name">
        <input type="file" name="image">
        <button type="submit">등록</button>
    </form>
</body>
</html>